SITE_BOLETO="https://exemplo.com/login"
EMAIL_USER="seu_email_login_e_destino@email.com"
PASSWORD_USER="sua_senha_do_site"
EMAIL_DE_ENVIO="seu_email_remetente@gmail.com"
EMAIL_APP_PASSWORD="abcd efgh ijkl mnop"